body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.chart-container {
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.input-container {
  margin: 0 10px;
  /* 'from' と 'to' の両側に余白を追加 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.input-container button {
  background-color: #4caf50;
  border: 2px solid transparent;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
  /* 左側の余白を追加 */
}

#runButton:hover {
  background-color: #cff160;
  border: 2px solid #4caf50;
  color: #4caf50;
}

.template-inputs {
  margin: 0 10px;
  /* 'from' と 'to' の両側に余白を追加 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.template-inputs button {
  background-color: #a9f53d8e;
  border: 2px solid transparent;
  color: rgb(1, 77, 1);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 15px;
  /* 左側の余白を追加 */
}

.template-inputs button:hover {
  background-color: #cff160;
  border: 2px solid #4caf50;
  color: #4caf50;
}


#fromDateInput,
#toDateInput {
  margin: 0 10px;
  margin-right: 20px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  /* 半透明の背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#result {
  text-align: center;
  visibility: hidden;
  /* 初期状態で非表示 */
  font-size: 1.5em;
  margin-bottom: 5px;
  color: indianred;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* PR表のスタイル */
.pr-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.pr-table th,
.pr-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.pr-table-author th {
  background-color: #9ad1f5bc;
}

.pr-table-requested th {
  background-color: #ffb1c1bc
}

.pr-table .closed {
  color: #999999;
}

/* 各列の幅を指定 */
/* open */
.pr-table th:nth-child(1),
.pr-table td:nth-child(1) {
  width: 8%;
}

/* close */
.pr-table th:nth-child(2),
.pr-table td:nth-child(2) {
  width: 8%;
}

/* Lifetime */
.pr-table th:nth-child(3),
.pr-table td:nth-child(3) {
  width: 4%;
}

/* FirstReview */
.pr-table th:nth-child(4),
.pr-table td:nth-child(4) {
  width: 4%;
}

/* Tittle */
.pr-table th:nth-child(5),
.pr-table td:nth-child(5) {
  width: 30%;
}

/* Status */
.pr-table th:nth-child(6),
.pr-table td:nth-child(6) {
  width: 4%;
}

/* Comments */
.pr-table th:nth-child(7),
.pr-table td:nth-child(7) {
  width: 4%;
}

/* Link */
.pr-table th:nth-child(8),
.pr-table td:nth-child(8) {
  width: 4%;
}


.pr-table .closed {
  color: #999999;
}